*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px dashed highlight; */
}

html {
  background-color: aqua;
}

header {
   position: sticky;
    
}

.card {

}
.contact-card {

}
.card__headline {

}

.card img {


}

.card-container {

}
